.singleBlogPost {
  width: 100%;
  height: 100%;
  padding: 4rem calc((100vw - 1300px) / 2);
}

.singleBlogPostContainer {
  display: flex;
  flex-wrap: wrap;
}
.singleBlogPostLeft {
  flex: 75%;
  padding: 0rem 2rem;
}
.blogImage {
  width: 100%;
  height: 30%;
  object-fit: cover;
}
.singleBlogHeading {
  font-size: clamp(1rem, 3vw, 1.7rem);
  color: #000;
  margin: 2rem 0rem;
  text-transform: uppercase;
}
.singleBlogDesc {
  font-size: 16px;
  color: #444;
  line-height: 26px;
  text-align: justify;
}
.singleBlogDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}
.singleBlogPostRight {
  flex: 25%;
  padding: 0rem 2rem;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 780px) {
  .singleBlogPostLeft,
  .singleBlogPostRight {
    flex: 100%;
  }
  .singleBlogPostLeft {
    margin-bottom: 15rem;
  }
  .blogImage {
    width: 100%;
    height: 15%;
  }
}
